/<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraphQL</title>
</head>
<body>
    <!-- <script src="/js/graph_ql.js"></script> -->
    <script src="../static/js/graph_ql.js"></script>
    <script>
        // const req = Request("articles")
        //     // .arguments({category: "business"})
        //     .scheme(['publisher', 'published_at', 'image', 'title', 'description', 'content', 'url'])
        //     .scheme(['title'])
        //     .fetch(`graph_ql/news`)
        //     .then(data => console.log("Response Data:", data))
        //     .catch(err => console.log("Response Error:", err))
    </script>
</body>
</html>

{
    "query": "articles  {    publisher,    published_at,    image,    title,    description,    content,    url  }"
  }
  