{% extends "/components/layouts/main.html" %}

{% macro Title %}Basic News{% end %}

{% macro Topbar %}
    {{ render "/components/topbar.html" }}
{% end %}


{% macro Navbar %}
    {{ render "/components/navbar.html" }}
{% end %}

{% macro Body %}
<div class="container-fluid mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h4 class="m-0 text-uppercase font-weight-bold">Latest News</h4>
                        </div>
                    </div>
                    {% var index = 1 %}

                    {% for article in articles %}
                    <div class="col-lg-6">
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="{{ article.Image }}"
                                style="object-fit: cover; height: 250px;">
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="text-body" href="">
                                        <small>
                                            {{ article.PublishedAt.Format("Monday, 02-Jan-06 15:04:05 MST") }}
                                        </small>
                                    </a>
                                </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" target="_blank" href="{{ article.Url }}">
                                    {{ article.Title }}
                                </a>
                                <p class="m-0">
                                    {{ article.Description }}
                                </p>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                    <small>{{ article.Publisher }}</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if index % 4 == 0 %}
                    <!-- Ads Start -->
                    {{ render "/components/advertisement-wide.html" }}
                    <!-- Ads End -->
                    {% end %}

                    {% index += 1 %}
                    {% end %}
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Social Follow Start -->
                {{ render "/components/follow-us.html" }}
                <!-- Social Follow End -->

                <!-- Ads Start -->
                {{ render "/components/advertisement.html" }}
                <!-- Ads End -->
            </div>
        </div>
    </div>
</div>
{% end %}